
body{
    background-color: rgb(172, 128, 128);
}
div{
    width: 200px;
    height: 200px;
   background-color: red;
  transition: all 1s ease;
  animation-name: aaaa;
}
div:hover{
    background-color: blue;
    width: 400px;
    height: 400px;
}
a{
    color: white;
}
button{
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;

}
#kk{
color: rgb(7, 105, 53);
}
p::before{
    content: 'text';
    color: rgb(25, 146, 41);
}